<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="CONSTR" value="Server=192.168.1.199;Database=DB01_Order_Engine_Bulkstreamchng;User Id=KKC;Password=KKC@321;"/>-->
    <!--<add key="CONSTR" value="Server=192.168.1.199;Database=DB01_Order_Engine;User Id=KKC;Password=KKC@321;"/>-->
    <!--<add key="CONSTR" value="Server=49.248.16.100;Database=DB01_Order_Engine_For_Test;User Id=sa;Password=MTeducare@1234;"/>-->
    <add key="CONSTR" value="Server=49.248.16.100;Database=DB01_Order_Engine;User Id=sa;Password=MTeducare@1234;"/>
    <!--<add key="CONSTR" value="Server=192.168.1.220;Database=DB01_Order_Engine;User Id=sa;Password=mteducare-01;"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=1440;dir=c:\TempImageFiles\;"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/MTEL_ORDER_ENGINE_PRD" value="26312;True;9804;1;-8587631980186052587"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
  </appSettings>
  <connectionStrings>
    <add name="strConn" connectionString="Data Source=192.168.1.199;Initial Catalog=DB01_Order_Engine;Persist Security Info=True;User ID=KKC;Password=KKC@321" providerName="System.Data.SqlClient"/>
    <!--<add name="strConn" connectionString="Data Source=49.248.16.100;Initial Catalog=DB01_Order_Engine_For_Test;Persist Security Info=True;User Id=sa;Password=MTeducare@1234" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1073741824" executionTimeout="100000"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/500.aspx"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MTEL_ChequeReturnRequestSoap"/>
        <binding name="OE_UserDetailsSoap"/>
        <binding name="LoginServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="OE_UserDetailsSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://mtelpdc.shvetankinfotech.com/MTEL_ChequeReturnRequest.asmx" binding="basicHttpBinding" bindingConfiguration="MTEL_ChequeReturnRequestSoap" contract="ChequeReturnRequest.MTEL_ChequeReturnRequestSoap" name="MTEL_ChequeReturnRequestSoap"/>-->
      <!--<endpoint address="http://192.168.1.225/PDC_Management/MTEL_ChequeReturnRequest.asmx" binding="basicHttpBinding" bindingConfiguration="MTEL_ChequeReturnRequestSoap" contract="ChequeReturnRequest.MTEL_ChequeReturnRequestSoap" name="MTEL_ChequeReturnRequestSoap"/>-->
      <!--<endpoint address="http://roboadmin.robomateplus.in:100/WebService_Admin/OE_UserDetails.asmx" binding="basicHttpBinding" bindingConfiguration="OE_UserDetailsSoap" contract="LMS_UserDetails.OE_UserDetailsSoap" name="OE_UserDetailsSoap"/>-->
      <endpoint address="http://49.248.16.100/Web_Ser/LoginService.asmx" binding="basicHttpBinding" bindingConfiguration="LoginServiceSoap" contract="Login_Service.LoginServiceSoap" name="LoginServiceSoap"/>
      <!--<endpoint address="http://192.168.1.225/Web_Ser/LoginService.asmx" binding="basicHttpBinding" bindingConfiguration="LoginServiceSoap" contract="Login_Service.LoginServiceSoap" name="LoginServiceSoap"/>-->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
</configuration>